.flexgrow {
  flex-grow: 1;
  min-width: 50%;
}

.w80 {
  width: 80% !important;
}

.mAuto {
  margin: 0 auto 0 auto;
}

.contentEvenly {
  justify-content: space-evenly;
}

.background {
  background-color: #efefef;
}